.pt-photo-delete-btn {
    position: absolute;
    margin: 0;
    top: 0.5em;
    right: 0.5em;
    background: #c00;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}