%stack {

    * {
        margin: 0;

        +* {
            margin-top: .5rem;
        }
    }
}

.c-attachment-from-ftp {

    figure,
    img {
        vertical-align: middle;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: .6em solid #fff;
        box-shadow: 0 0 1em rgba(0, 0, 0, .125);
    }

    &__entries {
        display: grid;
        gap: 1rem;

        @media screen and (min-width: 37.5em) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media screen and (min-width: 48em) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @media screen and (min-width: 80em) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        @media screen and (min-width: 100em) {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 2rem;
        }
    }

    &__entry {
        margin: 0;
        @extend %stack;

        &--disabled {
            opacity: .35;
        }

        &--no-title {
            h2 {
                color: red;
            }
        }
    }

    &__field {
        border: 1px solid #ccc;
        padding: .3em;

        &--empty {
            border-color: red;
        }
    }

    &__fieldwrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: .5rem;
        row-gap: .25rem;

        * {
            flex: 1;
        }

        button {
            flex: 0;
        }

        &-message {
            flex-basis: 100%;
            margin: 0;

            &--success {
                color: green;
            }
        }

    }

    &__figure {
        * {
            font-size: 1em;
            @extend %stack;
        }
    }

    &__imagewrap {
        aspect-ratio: 3/2;
        max-width: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
