.wp-block-image {
    &.alignfull {
        img {
            border-radius: 0;
        }
    }

    &.is-style-webcam {
        overflow: hidden;

        & > a {
            display: block;
        }

        img {
            aspect-ratio: 3/2;
        }
    }

    .components-resizable-box__container,
    img {
        max-width: 100%;
    }
}
