.wp-block-post-date {
    &.has-heading-1-font-size {
        time {
            body.single & {
                font-size: 50%;
                font-weight: 600;
                opacity: 0.65;
                letter-spacing: 0.005em;
            }
        }
    }
}
