.wp-block-sht-page-teaser-cover {

    --sht-teaser-cover-aspect-ratio: 3/2;
    --sht-teaser-cover-aspect-ratio--tablet: var(--sht-teaser-cover-aspect-ratio);
    --sht-teaser-cover-aspect-ratio--desktop: var(--sht-teaser-cover-aspect-ratio);
    --sht-teaser-cover-aspect-ratio--large-desktop: var(--sht-teaser-cover-aspect-ratio);
    --sht-teaser-cover-aspect-ratio--xlarge-desktop: var(--sht-teaser-cover-aspect-ratio);

    position: relative;
    padding: 0 !important; // Reset core styles applied by the editor

    &.is-style-without-excerpt {
        .wp-block-sht-page-teaser-cover__excerpt {
            display: none;
        }
    }

    &.is-style-inner-constraint {
        .wp-block-sht-page-teaser-cover__content {
            max-width: var(--wp--style--global--wide-size);

            @media screen and (min-width: 67.5em) {
                padding-inline: 0;
            }

            @media screen and (min-width: 100em) {
                max-width: 80rem;
            }

        }
    }

    &__content {
        container-type: inline-size;
        container-name: sht-page-teaser-cover-content;
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: var(--wp--preset--spacing--xlarge) var(--wp--preset--spacing--medium);
        width: 100%;
        margin-inline: auto;

        >* {
            margin-block: 0;

            +* {
                margin-block-start: var(--wp--preset--spacing--small);
            }
        }
    }

    &__excerpt {
        text-wrap-style: balance;
        max-width: 32rem;

        >* {
            margin: 0;
        }
    }

    &__figure {
        aspect-ratio: var(--sht-teaser-cover-aspect-ratio);
        overflow: hidden;
        margin: 0;
        grid-column: 1;
        grid-row: 1;

        @media screen and (min-width: 48em) {
            aspect-ratio: var(--sht-teaser-cover-aspect-ratio--tablet);
        }

        @media screen and (min-width: 80em) {
            aspect-ratio: var(--sht-teaser-cover-aspect-ratio--laptop);
        }

        @media screen and (min-width: 100em) {
            aspect-ratio: var(--sht-teaser-cover-aspect-ratio--desktop);
        }

        @media screen and (min-width: 120em) {
            aspect-ratio: var(--sht-teaser-cover-aspect-ratio--large-desktop);
        }

        @media screen and (min-width: 160em) {
            aspect-ratio: var(--sht-teaser-cover-aspect-ratio--xlarge-desktop);
        }

        &--empty {
            background: var(--wp--preset--color--primary-verylight);
        }
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background: inherit;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--wp--preset--gradient--shadow-top-and-bottom);
            opacity: .65;
            z-index: 0;
        }
    }

    &__link {

        &-text {
            .wp-block-sht-page-teaser-cover:hover & {
                text-decoration: underline;
            }
        }


        &--flood {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: transparent;
            font-size: 0;
            text-indent: -999rem;
        }
    }

    &__title {
        --wp--preset--font-size--slammer: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
        font-size: var(--wp--preset--font-size--slammer);
        font-style: normal;
        color: inherit;

        @container sht-page-teaser-cover-content (inline-size > 30rem) {
            --wp--preset--font-size--slammer: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);

        }

        @container sht-page-teaser-cover-content (inline-size > 64rem) {
            --wp--preset--font-size--slammer: clamp(1.5rem, 1rem + 2.5vw, 4rem);

        }

    }
}